
    .body-contacte {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    }
    .container_contacte {
    max-width: 800px;
    color: white;
    padding: 20px;
    background-color: #000;
    }

    .bg_contacte {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    }

    .site-header {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    font-size: 28px;
    }
    .contact-form {
    margin: 20px 0;
    }
    .form-row {
    margin-bottom: 15px;
    }
    input, textarea {
    border: 1px solid #000;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    }
    .btn {
    background-color: white;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    }
    .btn:hover {
    background-color: orange;
    }   

    footer{
    background-color: #000;
    color: #fff;
    }

